<%= render "shared/header" %>
<div class='main'>

  
  
  <%# 二冊のオススメの本が出る部分  %>

  <div class='select-reason-contents'>
   
    <%= image_tag "copy.png", class:'title'%>
      

    <div class='item-contents'>
    <h2 class='title'>本日のおすすめ二冊</h2>
    <%# 紹介ページnewにリンク %>
    <%= link_to '読んだ本を紹介する', "#", class: "subtitle" %>
    <ul class='item-lists'>

    <% @items.sample(2) do |item| %> 
      <li class='list'>
        <%= link_to item_path(item.id) do %>
        <div class='item-img-content'>
          <%= image_tag item.image, class: "item-img" %>

           <%# 自分が評価していれば %>
           <%# <%if item.order %>
             <%# <div class='sold-out'  > %>
             <%# <span>READ!</span>  %>
            <%# </div>  %>
             <%# <% end %>   

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.aothr %><br>著</span>
            <div class='star-btn'>
              <%= image_tag "valuation.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
  </div>
     
   <% if @items.length == 0%>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "item-sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            Title
          </h3>
          <div class='item-price'>
            <span> Aothr </span>
            <div class='star-btn'>
              <%= image_tag "valuation.png", class:"star-icon" %>
              <span class='star-count'>80</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>        
    </ul>
  </div>
  
  
</div>

 

