<header class='top-page-header'>
   <div class='search-bar-contents'>  
     <%= link_to image_tag("mybrary-logo.png", class:"furima-icon"), "user_path" %> 
      <form class="search-form" > 
      <%= search_form_for @p ,url: items_search_path do |f| %> 
       <%= f.search_field :item_name_or_authr_cont ,onsearch: true, placeholder: '本のタイトルか作者名で検索できます（こちらに入力してください）', class: 'input-box'%>
         <%= f.submit '検索' , class: "search-icon"%> 
      <% end %>
   </div>

</header>



     <h1> 
      検索結果
    </h1>
    <%# 検索結果の個数で条件分岐 %>
     <% if @results.length !=0  %>
      <% @results.sample(3) do |result| %>
        <td>
        <br>
        <li>
          <%= result.image %>
          <%= result.item_name %>
          <%= result.authr %>
        </li>
      <% end %>
    <% else %>
      該当する商品はありません
    <% end %> 
    <br>
    <%= link_to 'トップページへ戻る', root_path %>


